name: PyPIRelease

on:
  push:
    tags:
      - '*'

defaults:
  run:
    shell: bash

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4.1.7
    - uses: actions/setup-python@v5.1.0
      with:
        python-version: 3.12
    - run: pip install wheel distutils
    - run: python3 setup.py bdist_wheel sdist
    - uses: pypa/gh-action-pypi-publish@v1.9.0
      with:
        user: __token__
        password: ${{ secrets.PYPIPW }}
